body {
	background-color: #9f9da7;
	font-size: 1.6rem;
	font-family: "Open Sans", sans-serif;
	color: #2b3e51;
}
h2 {
	font-weight:300;
	text-align:center;
}
p {
	position: relative;
}
a,
a:link,
a:visited,
a:active {
	color:#3ca9e2;
	transition: all 0.2s ease;
	&:focus,
	&:hover {
		color:#329dd5;
		transition: all 0.2s ease;
	}
}
#login {
	width: 35%;
	h1 {
		display: none;
	}
}
#loginform,
#lostpasswordform,
#registerform {
	background-color: #fff;
	margin: 30px auto;
	text-align: left;
	padding:30px 60px;
	border-radius: 4px;
	box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}
#login-form {
	padding:0 60px;
}
#login form p.forgetmenot {
	margin-bottom: 16px;
}
.login #nav a,
.login #backtoblog a {
	text-decoration: none;
	color: #FFF;
}

.login #nav a:hover,
.login #backtoblog a:hover,
.login h1 a:hover {
	color: #FFF;
	border-bottom: 1px solid #FFF;
}

.login #nav a:focus,
.login #backtoblog a:focus,
.login h1 a:focus {
	color: #000;
	border-bottom: 0;
}
.wp-core-ui .button.button-large, 
.wp-core-ui .button-group.button-large .button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	outline: none;
	height: 60px;
	line-height: 60px;
	border-radius: 4px;
}
.login form .input, 
.login input[type="text"] {
	border-radius: 4px;
	height: 60px;
    line-height: 60px;
    font-size: 16px;
    padding: 0 0 0 10px;
}
input[type="text"],
input[type="email"],
input[type="password"]{
	width: 100%;
	padding: 0 0 0 10px;
	margin: 0;
	color: #8a8b8e;
	border: 1px solid #c2c0ca;
	font-style: normal;
	font-size: 16px;
	appearance: none;
	position: relative;
	display: inline-block;
	background: none;
	&:focus {
		border-color:#3ca9e2;
	}
}
.login .message, 
.login #login_error {
	border: 2px solid #3ca9e2;
	border-radius: 4px;
	color: #777;
	font-size: 14px;
	text-align: center;
}
.login #login_error {
	border: 1px solid #cc1e2b;
}
.wp-core-ui .button-primary {
	border: none;
	display:block;
	background-color: #3ca9e2;
	color: #fff;
	font-weight: normal;
	text-transform:uppercase;
	cursor: pointer;
	transition: all 0.2s ease;
	font-size: 18px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-shadow: none;
	&:hover {
		background-color:#329dd5;
		transition: all 0.2s ease;
	}
}