/* line 1, scss/login.scss */
body {
  background-color: #9f9da7;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;
}

/* line 7, scss/login.scss */
h2 {
  font-weight: 300;
  text-align: center;
}

/* line 11, scss/login.scss */
p {
  position: relative;
}

/* line 17, scss/login.scss */
a,
a:link,
a:visited,
a:active {
  color: #3ca9e2;
  transition: all 0.2s ease;
}
/* line 21, scss/login.scss */
a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
  color: #329dd5;
  transition: all 0.2s ease;
}

/* line 26, scss/login.scss */
#login {
  width: 35%;
}
/* line 28, scss/login.scss */
#login h1 {
  display: none;
}

/* line 34, scss/login.scss */
#loginform,
#lostpasswordform,
#registerform {
  background-color: #fff;
  margin: 30px auto;
  text-align: left;
  padding: 30px 60px;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

/* line 42, scss/login.scss */
#login-form {
  padding: 0 60px;
}

/* line 45, scss/login.scss */
#login form p.forgetmenot {
  margin-bottom: 16px;
}

/* line 49, scss/login.scss */
.login #nav a,
.login #backtoblog a {
  text-decoration: none;
  color: #FFF;
}

/* line 56, scss/login.scss */
.login #nav a:hover,
.login #backtoblog a:hover,
.login h1 a:hover {
  color: #FFF;
  border-bottom: 1px solid #FFF;
}

/* line 63, scss/login.scss */
.login #nav a:focus,
.login #backtoblog a:focus,
.login h1 a:focus {
  color: #000;
  border-bottom: 0;
}

/* line 68, scss/login.scss */
.wp-core-ui .button.button-large,
.wp-core-ui .button-group.button-large .button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

/* line 78, scss/login.scss */
.login form .input,
.login input[type="text"] {
  border-radius: 4px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  padding: 0 0 0 10px;
}

/* line 87, scss/login.scss */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}
/* line 99, scss/login.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #3ca9e2;
}

/* line 104, scss/login.scss */
.login .message,
.login #login_error {
  border: 2px solid #3ca9e2;
  border-radius: 4px;
  color: #777;
  font-size: 14px;
  text-align: center;
}

/* line 111, scss/login.scss */
.login #login_error {
  border: 1px solid #cc1e2b;
}

/* line 114, scss/login.scss */
.wp-core-ui .button-primary {
  border: none;
  display: block;
  background-color: #3ca9e2;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-shadow: none;
}
/* line 129, scss/login.scss */
.wp-core-ui .button-primary:hover {
  background-color: #329dd5;
  transition: all 0.2s ease;
}



@media (max-width: 1068px) {
	#login {
		width: 48%;
	}
}
@media (max-width: 733px) {
	#login {
		width: 60%;
	}
}
@media (max-width: 550px) {
	#login {
		width: 80%;
	}
}
@media (max-width: 320px) {
	#login {
		width: 96%;
	}
}